// Переменные для цветов
$main-color: #F16D7F;
$text-color: #222222;
$white-color: #FFFFFF;
$black-color: #000000;
$header-bg-color: #222224;
$header-btn-bg-color: #F16D7F;
$gray-color: #9F9F9F;
$light-gray: #F8F8F8;
// Переменные для шрифтов
$lato-font: 'Lato',
sans-serif;
$main-font-stack: $lato-font,
sans-serif;
// Переменные для медиа-запросов
// Переменные для размеров экранов
$mobile-small: 375px;
$mobile-medium: 425px;
$tablet: 768px;
$desktop-small: 1024px;
$desktop-medium: 1600px;
$desktop-large: 8000px;
// Миксины для медиа запросов
@mixin mobile-small-medium {
    @media (min-width: #{$mobile-small}) and (max-width: #{$mobile-medium}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) and (max-width: #{$desktop-small - 1px}) {
        @content;
    }
}

@mixin desktop-small {
    @media (min-width: #{$desktop-small}) and (max-width: #{$desktop-medium - 1px}) {
        @content;
    }
}

@mixin desktop-medium-large {
    @media (min-width: #{$desktop-medium}) and (max-width: #{$desktop-large}) {
        @content;
    }
}